{% extends 'base.html.twig' %}

{% block title %}Torn Panel{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/star.css') }}">
{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            {% for message in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% endfor %}
            <h1>Ammo</h1>
            <table class=" table table-striped" id="">
                <thead>
                    <tr>
                        <th>Ammo</th>
                        <th>Qty</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ammo in ammos.ammo %}
                    {% if ammo.quantity < 500 %} <tr class="table-danger">
                        {% else %}
                        <tr class="table-success">
                            {% endif %}
                            <td>{{ ammo.size }}</td>
                            <td>{{ ammo.quantity }}</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
            <div><a class="btn btn-primary" href="{{ path('app_load_attacks') }}">Load Attacks</a></div>
        </div>
        <div class="col">
            <h1>Dead Fuckers</h1>
            <table class=" table table-striped" id="">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Date</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attack in attacks %}
                    <tr>
                        <td><a href="https://www.torn.com/profiles.php?XID={{attack.attacker.tornId}}"
                                target="_BLANK">{{ attack.attacker.name }}</a></td>
                        <td>{{ attack.attacker.level }}</td>
                        <td>{{ attack.dateTimeStarted | date("m/d/Y")}}</td>
                        <td>{{ attack.result }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Attackable users</h1>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-secondary" href="{{ path('app_torn_user', {'employed':false}) }}">All</a>
                <a class="btn btn-secondary" href="{{ path('app_torn_user', {'employed':true}) }}">Employed Only</a>
            </div>
            <table class=" table table-striped" id="torn-users-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Attackability</th>
                        <th>Level</th>
                        <th>Last Attack Date</th>
                        <th>Job</th>
                        <th>Status</th>
                        <th>Life</th>
                        <th>Play Duration</th>
                        <th>Last Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>
                            {% if user.isStarred %}
                            <i id="userStars{{user.id}}" data-user-id={{user.id}} class="bi bi-star-fill"></i>
                            {% else %}
                            <i id="userStars{{user.id}}" data-user-id={{user.id}} class="bi bi-star"></i>
                            {% endif %}
                            <a href="https://www.torn.com/profiles.php?XID={{user.tornId}}" target="_BLANK">{{
                                user.name
                                }}</a>
                            {% if user.gender == 'Male' %}
                            <i class="bi bi-gender-male"></i>
                            {% elseif user.gender == 'Female' %}
                            <i class="bi bi-gender-female"></i>
                            {% else %}
                            <i class="bi bi-question-lg"></i>
                            {% endif %}

                        </td>
                        <td>{{ user.attackability }}</td>
                        <td>{{ user.level }}</td>
                        <td>
                            {% if user.lastDefence %}
                            {{user.lastDefence | date("m/d/Y")}}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>{{ user.job }}</td>
                        <td>{{ user.status }}</td>

                        <td>{{ user.life }}</td>
                        <td>{{ user.playDuration }}</td>
                        <td>{{ user.lastAction|date('Y-m-d') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        new DataTable('#torn-users-table');
    });
</script>
{% endblock %}